*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  padding: 3em;
}
input{
  margin-right:1em;
  padding:0.5em;
  color:#444444;
}

.filter{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  margin-bottom:2em;
}
.button{
  color:#fff;
  background:#db3948;
  border-radius:4px;
  border:1px solid #db3948;
  padding:0.5em 1em;
  margin-right:10px;
  display:inline-block;
  cursor:pointer;
}
.button_close{
  font-size:16px;
  height:32px;
  width:32px;
}
.material-icons{
  margin-left:-12px;
  margin-top:-4px;
}
.button:disabled{
  background:#e77e88;
  border:1px solid #e77e88;
}
ul {
  margin-top:2em;
}
